<header>
  <div class="wrapper2">
    <div class="wrapper3">
      <nav class="navbar-top">
        <span class="navbar-item">
          <a href="{{ '/' | relative_url }}">Home</a>
        </span>
        <span class="navbar-item">
          <a href="https://github.com/Infinitifall">Projects</a>
        </span>
        <span class="navbar-item">
          <a href="https://irc.infinitifall.net/">Lounge</a>
        </span>
        <span class="theme-toggle">
          {% include theme-toggle.html %}
        </span>
      </nav>
    </div>
  </div>
</header>
