@charset "utf-8";


//light theme

$base-font-family: Helvetica, sans-serif;
$heading-font-family: Helvetica, sans-serif;
$navbar-font-family: 'Times New Roman', Times, serif;
$base-font-size: 17px;
$base-line-height: 1.4;
$base-font-weight: 400;
$base-letter-spacing: 0;
$small-font-size: $base-font-size * 0.85;
$code-font-family: monospace;
$code-font-size: $base-font-size * 0.85;
$tag-font-size: $base-font-size * 0.8;

$heading-text: #333;
$base-text: #333;
$grey-text: #888;
$code-0: #4a8d79;
$code-1: #612f70;
$code-tag: #2f6e70;
$bg-0:   #fff;
$bg-1:   #ddd;
$bg-highlight:   #fffdef;
$bg-table: #fffdef;
$bg-code:#f0e1f3;
$bg-pre-border: #ddd;
$bg-tag:#e1f3f3;
$link-1: #4270ab;
$button-1: #8638b0;
$button-1-bg: #eee;

$content-width: 750px;
$image-width: 400px;
$content-max-width: 95%;


// dark theme

$base-font-family-dark: Helvetica, sans-serif;
$heading-font-family-dark: Helvetica, sans-serif;
$navbar-font-family-dark: 'Times New Roman', Times, serif;
$base-font-size-dark: 17px;
$base-line-height-dark: 1.4;
$base-font-weight-dark: 400;
$base-letter-spacing-dark: 0;
$small-font-size-dark: $base-font-size-dark * 0.85;
$code-font-family-dark: monospace;
$code-font-size-dark: $base-font-size-dark * 0.85;
$tag-font-size-dark: $base-font-size-dark * 0.8;

$heading-text-dark: #ccc;
$base-text-dark: #ccc;
$grey-text-dark: #777;
$code-0-dark: #ccc;
$code-1-dark: #d4abe0;
$code-tag-dark: #93b3b4;
$bg-0-dark:   #1e1e1e;
$bg-1-dark:   #444;
$bg-highlight-dark:   #181818;
$bg-table-dark: #181818;
$bg-code-dark:#372b39;
$bg-pre-border-dark: #2d2d2d;
$bg-tag-dark:#272f30;
$link-1-dark: #58a499;
$button-1-dark: #a771b8;
$button-1-bg-dark: #181818;

$content-width-dark: 750px;
$image-width-dark: 400px;
$content-max-width-dark:95%;


@import
  "malis/base",
  "malis/layout",
  "malis/syntax-highlighting"
;
