.light {
  /*
  Wrapper around body
  */
  .wrapper {
    max-width: MIN($content-width, $content-max-width);
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: 20em;
    margin-bottom: 1em;
    background-color: $bg-0;

    @media only screen and (max-width: 1100px) {
      margin-left: auto;
    }
  }

  .wrapper-top {
    .wrapper-top-2 {
      min-height: 1em;
      max-width: MIN($content-width, $content-max-width);
      margin-right: auto;
      margin-left: auto;
    }

    padding: 0.2em 0;
    border-bottom: 1px $bg-1 solid;
    padding-bottom: 0.2em;

    position: fixed;
    width: 100%;
    background-color: $bg-0;
    top: 0;
    z-index: 1;

    @media only screen and (max-width: 1100px) {
      position: static;
    }

    font-family: $navbar-font-family;
    font-size: $base-font-size * 1.3;

    a {
      text-decoration: none;
      color: $grey-text;
    }

    a:hover {
      color: darken($grey-text-dark, 20%);
    }
  }

  .wrapper-bottom {
    .wrapper-bottom-2 {
      max-width: MIN($content-width, $content-max-width);
      margin-right: auto;
      margin-left: auto;
    }

    padding: 0 3vw;
    border-top: 1px $bg-1 solid;
    padding-top: 0.2em;
  }

  .wrapper-gallery {
    max-width: MIN($gallery-width, $content-max-width);
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    background-color: $bg-0;
  }


  /*
  Styling for the page
  */
  .page-date {
    color: $grey-text;
  }

  .page-tag {
    font-size: $tag-font-size;
    color: $code-tag;
    background-color: $bg-tag;
    border: 1px darken($bg-tag, 10%) solid;
  }

  .page-title {
    a { color: $base-text; }
    a:hover { color: $base-text; }
    a:visited { color: $base-text; }
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 2.3em;

    @media only screen and (max-width: 1100px) {
      margin-top: 0.5em;
      margin-bottom: 0.25em;
    }
  }


  /*
  Styling for post list
  */
  .post-list {
    margin-top: 2em;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 2.5em;
  }

  .post-date {
    color: $grey-text;
    user-select: none;
  }

  .post-title {
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: -0.5px;
    border-bottom: none;
  }

  .post-tag {
    font-size: $tag-font-size;
    color: $code-tag;
    background-color: $bg-tag;
    border: 1px darken($bg-tag, 10%) solid;
  }

  .post-tags-list {
    user-select: none;
  }

  .post-toc {
    left: 0;
    margin-top: 2em;
    margin-left: 1em;
    position: fixed;
    border: 1px solid $bg-1;
    border-radius: 0.5em;
    padding: 1em 1em;
    width: 300px;

    a {
      color: $grey-text;
    }

    b {
      display: flex;
      justify-content: center;
    }

    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }

  .post-toc-inline {
    display: none;

    // @media only screen and (max-width: 1100px) {
    //   display: block;
    //   border: 1px solid $bg-1;
    //   border-radius: 0.5em;
    //   padding: 1em 1em;
    //   max-width: MIN($content-width, $content-max-width);
    //   width: 400px;

    //   a {
    //     color: $grey-text;
    //   }
    // }
  }

  /*
  Styling for tag page
  */

  .tag-tag {
    margin-bottom: 1em;
  }

  
  /*
  Styling for navbar
  */
  .navbar-top {
    user-select: none;

    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      justify-content: left;
      display: block;
    }

    .navbar-item {
      margin-right: 1em;
    }
  }

  .navbar-details {
    left: 0;
    margin-top: 3em;
    margin-left: 1em;
    position: fixed;
    border: 1px solid $bg-1;
    border-radius: 0.5em;
    padding: 1em 1em;
    width: 300px;

    a {
      color: $grey-text;
    }

    b {
      display: flex;
      justify-content: center;
    }

    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }

  .navbar-details-inline {
    display: none;

    @media only screen and (max-width: 1100px) {
      display: block;
      color: $grey-text;
      user-select: none;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 2em;

      .navbar-date-author {
        margin-bottom: 0.5em;
      }
    }
  }

  .navbar-bottom {
    min-height: 1em;
    user-select: none;

    .navbar-license {
      color: $grey-text;
      font-size: $small-font-size;
    }
  }

  .navbar-home {
    margin-top: -1em;
  }

  .navbar-right {
    float: right;
  }

  .navbar-category-list {
    margin-right: 1em;
  }
}

.dark {
  /*
  Wrapper around body
  */
  .wrapper {
    max-width: MIN($content-width-dark, $content-max-width-dark);
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: 20em;
    margin-bottom: 1em;
    background-color: $bg-0-dark;

    @media only screen and (max-width: 1100px) {
      margin-left: auto;
    }
  }

  .wrapper-top {
    .wrapper-top-2 {
      max-width: MIN($content-width-dark, $content-max-width-dark);
      margin-right: auto;
      margin-left: auto;
    }

    padding: 0.2em 0;
    // border-bottom: 1px $bg-1-dark solid;
    border-bottom: 1px transparent solid;
    padding-bottom: 0.2em;

    font-family: $navbar-font-family-dark;
    font-size: $base-font-size-dark * 1.3;

    position: fixed;
    width: 100%;
    // background-color: $bg-0-dark;
    background-color: $bg-highlight-dark;
    top: 0;
    z-index: 1;

    @media only screen and (max-width: 1100px) {
      position: static;
    }

    a {
      text-decoration: none;
      color: $grey-text-dark;
    }

    a:hover {
      color: lighten($grey-text-dark, 10%);
    }
  }

  .wrapper-bottom {
    .wrapper-bottom-2 {
      max-width: MIN($content-width-dark, $content-max-width-dark);
      margin-right: auto;
      margin-left: auto;
    }

    padding: 0 3vw;
    border-top: 1px $bg-1-dark solid;
    padding-top: 0.2em;
  }

  .wrapper-gallery {
    max-width: MIN($gallery-width-dark, $content-max-width-dark);
    padding: 1em 3vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    background-color: $bg-0-dark;
  }


  /*
  Styling for the page
  */
  .page-date {
    color: $grey-text-dark;
  }

  .page-tag {
    font-size: $tag-font-size-dark;
    color: $code-tag-dark;
    background-color: $bg-tag-dark;
    border: 1px transparent solid;
  }

  .page-title {
    a { color: $base-text-dark; }
    a:hover { color: $base-text-dark; }
    a:visited { color: $base-text-dark; }
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 2.3em;

    @media only screen and (max-width: 1100px) {
      margin-top: 0.5em;
      margin-bottom: 0.25em;
    }
  }


  /*
  Styling for post list
  */
  .post-list {
    margin-top: 2em;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 2.5em;
  }

  .post-date {
    color: $grey-text;
    user-select: none;
  }

  .post-title {
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: -0.5px;
    border-bottom: none;
  }

  .post-tag {
    font-size: $tag-font-size-dark;
    color: $code-tag-dark;
    background-color: $bg-tag-dark;
    border: 1px transparent solid;
  }

  .post-tags-list {
    user-select: none;
  }

  .post-toc {
    left: 0;
    margin-top: 2em;
    margin-left: 1em;
    position: fixed;
    border: 1px transparent solid;
    background-color: $bg-highlight-dark;
    border-radius: 0.5em;
    padding: 1em 1em;
    width: 300px;

    a {
      color: $grey-text-dark;
    }

    b {
      display: flex;
      justify-content: center;
    }

    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }

  .post-toc-inline {
    display: none;

    // @media only screen and (max-width: 1100px) {
    //   display: block;
    //   border: 1px transparent solid;
    //   padding: 1em 1em;
    //   max-width: MIN($content-width-dark, $content-max-width-dark);
    //   width: 400px;

    //   a {
    //     color: $grey-text-dark;
    //   }
    // }
  }

  /*
  Styling for tag page
  */

  .tag-tag {
    margin-bottom: 1em;
  }

  
  /*
  Styling for navbar
  */
  .navbar-top {
    user-select: none;

    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      display: block;
      justify-content: left;
    }

    .navbar-item {
      margin-right: 1em;
    }
  }

  .navbar-details {
    left: 0;
    margin-top: 3em;
    margin-left: 1em;
    position: fixed;
    border: 1px transparent solid;
    background-color: $bg-highlight-dark;
    border-radius: 0.5em;
    padding: 1em 1em;
    width: 300px;

    a {
      color: $grey-text-dark;
    }

    b {
      display: flex;
      justify-content: center;
    }

    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }

  .navbar-details-inline {
    display: none;

    @media only screen and (max-width: 1100px) {
      display: block;
      color: $grey-text-dark;
      user-select: none;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 2em;

      .navbar-date-author {
        margin-bottom: 0.5em;
      }
    }
  }

  .navbar-bottom {
    min-height: 1em;
    user-select: none;

    .navbar-license {
      color: $grey-text-dark;
      font-size: $small-font-size-dark;
    }
  }

  .navbar-home {
    margin-top: -1em;
  }

  .navbar-right {
    float: right;
  }

  .navbar-category-list {
    margin-right: 1em;
  }
}

