---
layout: default
---

<div class="wrapper-home">
  {% if page.title %}
  <h1 class="home-title page-title">{{ page.title }}</h1>
  {% endif %}
  <main>
    <div class="home-content">
      {{ content }}
    </div>
    {% if true %}
    <h1 class="home-title">Articles</h1>
    <!-- <nav class="navbar-home">
      <span>
        {% for category in site.categories %}  
          <a class="category-list" href="{{ category[0] | relative_url }}.html">{{ category[0] | escape }}</a>
        {% endfor %}
      </span>
      <span class="navbar-right">
        {% if false %}
        <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
        {% endif %}
        <a href="{{ '/tags.html' | relative_url }}">Tags</a>
      </span>
    </nav> -->
    <div>
      <ul class="post-list">
        {% assign sorted_posts = site.posts | sort: "updated", "last" | reverse %}
        {% for post in sorted_posts %}
          {% include post-list.html %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </main>
</div>
