---
layout: default
---

<div class="wrapper">
  {% if page.title %}
  <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}
  <main>
    {{ content }}
    {% if true %}
    <h1>Articles</h1>
    <!-- <nav class="navbar-home">
      <span>
        {% for category in site.categories %}  
          <a class="navbar-category-list" href="{{ category[0] | relative_url }}.html">{{ category[0] | escape }}</a>
        {% endfor %}
      </span>
      <span class="navbar-right">
        {% if false %}
        <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
        {% endif %}
        <a href="{{ '/tags.html' | relative_url }}">Tags</a>
      </span>
    </nav> -->
    <div>
      <ul class="post-list">
        {% for post in site.posts %}
          {% include post-list.html %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </main>
</div>
