---
layout: default
---

{%- assign updatedEpoch = page.updated | date: "%s" | plus: 0 -%}
{%- assign publishedEpoch = page.date | date: "%s" | plus: 0 -%}

<div class="wrapper">
  {% include theme-toggle.html %}
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="page-details-inline">
    <!-- <div class="page-tags">
      {% for tag in page.tags %}
        <code class="page-tag">{{ tag }}</code>
      {% endfor %}
    </div> -->
    <div class="page-date">
      <div>
        Published
        {% assign date_format = "%d %b %Y" %}
        {{ page.date | date: date_format }}
      </div>
      <!-- {% if updatedEpoch > publishedEpoch %}
      <div>
         Updated
        {% assign date_format = "%d %b %Y" %}
        {{ page.updated | date: date_format }}
      </div>
      {% endif %} -->
    </div>
    <div class="go-home">
      <a href="{{ '/' | relative_url }}">See all posts</a>
    </div>
  </div>
  {% if false %}
  <div class="page-toc-inline">
    <b>Contents</b>
    <ul>
      <li><a href="#">{{ page.title }}</a></li>
    </ul>
    {% include toc.html %}
  </div>
  {% endif %}
  <main class="main-post">
    {{ content }}
  </main>
</div>

