---
layout: default
---

{%- assign updatedEpoch = page.updated | date: "%s" | plus: 0 -%}
{%- assign publishedEpoch = page.date | date: "%s" | plus: 0 -%}

{% include sidebar.html %}

<div class="wrapper">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="page-details-inline">
    <div class="page-tags">
      {% for tag in page.tags %}
        <code class="page-tag">{{ tag }}</code>
      {% endfor %}
    </div>
    <div class="page-date">
      <span>
        Published
        {% assign date_format = "%Y, %b %d" %}
        {{ page.date | date: date_format }}
      </span>
      {% if updatedEpoch > publishedEpoch %}
      |
      <span>
         Updated
        {% assign date_format = "%Y, %b %d" %}
        {{ page.updated | date: date_format }}
      </span>
      {% endif %}
    </div>
  </div>
  {% if false %}
  <div class="page-toc-inline">
    <b>Contents</b>
    <ul>
      <li><a href="#">{{ page.title }}</a></li>
    </ul>
    {% include toc.html %}
  </div>
  {% endif %}
  <main class="main-post">
    {{ content }}
  </main>
</div>

{% include navbar-bottom.html %}
